@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap");

.container {
    max-width: 1440px;
    margin: auto;
}

#absolute {
    position: relative;
    z-index: 1;
    top: 10%;
}

.search ::-webkit-scrollbar,#absolute ::-webkit-scrollbar {
    display: none;
}

#logo {
    display: block;
    margin: auto;
    height: 93px;
    margin-bottom: 1rem;
}

/* RECHERCHE PRINCIPALE */

.search {
    width: 100%;
}

.search-all {
    width: 91%;
    height: 69px;
    font-size: 18px;
    font-family: "lato", sans-serif;
    text-align: left;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 4rem;
    margin: 0 0 0 7%;
}

.search-every {
    position: relative;
}

.search-every input:focus {
    opacity: 100%;
    outline: none;
}

.search-every input::placeholder {
    opacity: 25%;
}

.fa-search {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#search-all-list,#search-all-selected {
    margin-left: 7%;
}